@using BookiWeb.Helpers
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Booki</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script>
        const facebook_app_id = "565456120724946";
        const facebook_api_version = "v6.0";
        const google_api_key = "AIzaSyBKfvb58wsqAUTemJVCO1tdhHRHQEl_UJ0";
        const google_client_id = "1030965582845-0taj6flvldt538gvpvpcl5hb2lhbs1ko.apps.googleusercontent.com";
    </script>
    @Scripts.Render("~/bundles/fbsdk")
    @Scripts.Render("~/bundles/googlesdk")
    @Scripts.Render("~/bundles/base");
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>

    <!-- check if Authentication.Google.Enabled is true -->
    <script async defer src="https://apis.google.com/js/api.js"
            onload="this.onload=function(){};handleClientLoad()"
            onreadystatechange="if (this.readyState === 'complete') this.onload()"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Booki", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Venues", "Index", "Venues")</li>
                    @if (SessionsHelper.IsAuthenticated())
                    {
                        <li>@Html.ActionLink("My reservations", "Index", "Reservations")</li>
                    }
                </ul>

                @if (SessionsHelper.IsAuthenticated())
                {
                    <form action="/Sessions/Delete" method="post" id="logout_form">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="javascript:{}" onclick="handleLogout();">Log out</a></li>
                        </ul>
                    </form>
                }
                else
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li>@Html.ActionLink("Log in", "Create", "Sessions")</li>
                        <li>@Html.ActionLink("Register", "Create", "Registrations")</li>
                    </ul>
                }
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Booki</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
